/*=========首页样式==========*/
/*=======nav========*/
.nav ul{width:74px;height:100%;background:#d10048;position:fixed;top:0;left:0;padding-top:10px;text-align:center;}
.nav ul li{height:46px;line-height:46px;overflow:hidden;background:url(../img/nav_b.png) bottom no-repeat;
}
.nav ul li a:hover{background:#da477a}
.nav ul li a{display:block;color:#fff;height:44px;overflow:hidden}
.nav ul .alone{line-height:normal;padding-top:5px}
/*====================title========================*/
.title{width:1145px;height:70px;margin:0 auto;}
.title h1{margin-top:20px;float:left}
.title div{float:right}
.title span{display:inline-block;margin-top:20px;height:25px;line-height:25px}
.title span a{display:inline-block;height:25px;line-height:25px;font-size:11px;color:#888}
.title div span a img{width:30px;height:21px}

/*==================banner==========================*/
.banner{width:1145px;height:400px;margin:0 auto;overflow:hidden;position:relative}
.banner .banner_bottom{width:1130px;height:8px;background:#fff;position:absolute;bottom:0;left:7px}
.banner .banner_bottom div{width:226px;height:8px;float:left}
.banner .banner_left,.banner .banner_right{width:40px;height:40px;font-size:20px;line-height:40px;text-align:center;height:40px;background:#666;color:#fff}
.banner .banner_left{position:absolute;top:200px;left:0;opacity:0;}
.banner .banner_right{position:absolute;top:200px;left:1105px;opacity:0;}
/*==================main==========================*/
.main{height:2560px;width:1145px;margin:0 auto;}
.main .main_top{height:693px;width:1145px;}
.main .main_top .main_top_l,.main .main_top .main_top_c,.main .main_top .main_top_r{width:380px;height:693px;float:left;overflow:hidden}
.main .main_top_c{margin:0 2px}
.main .beauty{width:380px;height:226px;overflow:hidden}
.main .picture_r,.main .picture_l{height:226px;background:#fff;}
.main .addimg{width:190px;height:226px;overflow:hidden}
.main .main_top .main_top_l .picture_r{margin:4px 0;}
.main .main_top .main_top_r .picture_l{margin:4px 0;}
.main .addtext {padding-left:15px;width:175px;height:226px}
.main .addtext h2,.main .addtext_new h2{font-size:14px;margin-top:24px;margin-bottom:45px}
.main .addtext p,.main .addtext_new p{font-size:14px;color:#9696ae;font-size:12px}
.main .addtext .readtxt,.main .addtext_new .readtxt{font-size:14px;color:#d10048;}
.main .main_middle .picture_l{margin:4px 0;}
.main .main_bottom .picture_l{margin:4px 0;}
.main .addtext_new{padding-left:20px;width:207px;height:232px}


